
<h1 class="mx-3" align="center">
cart
</h1>
<div class="row mb-4 d-flex justify-content-between align-items-center mt-5 col-8 mx-auto pt-3">
 @for(product of cartData; track $index){
    <div class="col-md-2 col-lg-2 col-xl-2">
      <img [src]="product.images[0]" class="img-fluid rounded-3" alt="" style="width: 90px; height: 90px;" />
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3">
      <h6 class="text-muted">{{ product.description }}</h6>
      <h6 class="text-black mb-0">{{ product.brand }}</h6>
    </div>
    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
      <h6 class="mb-0">{{ product.price *  product.quantity*41}}EGP</h6>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
      <button (click)="increment(product.id)" class="btn btn-success">+</button>
      <input id="form1" style="text-align: center;" min="0" name="quantity" value="{{ product.quantity }}" class="form-control form-control-sm" />
      <button  (click)="decrement(product.id)" class="btn btn-danger">-</button>
    </div>
    <div class="col-md-1 col-lg-1 col-xl-1">
      <button (click)="remove(product.id)" class="btn btn-danger" style="color: rgb(241, 232, 232);  font-weight: 700;">Remove</button>
    </div>

  }
  <h4 align="center">Total Price: {{ getTotalPrice()+'EGP' }}</h4>
</div>
